@use "/src/sass/base/variables.scss" as *;
.footer {
  padding-bottom: 50px;
  background-color: $dark;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    row-gap: 40px;
  }
  .white-block {
    background-color: $light;
    margin-bottom: 50px;
  }
  &__wrapper-newsletter {
    width: 293px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $light;
  }
  &__text {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    color: $light;
  }
  &__input {
    width: 100%;
    background-color: $dark;
    margin-top: 40px;
    padding-bottom: 15px;
    border: 1px solid transparent;
    border-bottom: 1px solid $ui-active;
    font-size: 14px;
    color: $ui-active;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: $ui-active;
    }
  }
  &__checkblock {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $light;
    a {
      text-decoration: none;
      color: #a22dc6;
    }
  }
  &__checkbox {
    margin-right: 15px;
    border: 1px solid $light;
    border-radius: 2px;
    width: 15px;
    height: 15px;
  }
  &__btn {
    margin-top: 20px;
  }
  &__wrapper-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 40px;
  }
  &__links-item {
    min-width: 70px;
    ul {
      margin-top: 40px;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: $light;
        text-decoration: none;
      }
    }
  }
  &__wrapper-icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    a {
      display: block;
      width: 24px;
      height: 24px;
      color: #fff;
      text-decoration: none;
    }
  }
  &__info {
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: $light;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      column-gap: 197px;
    }
    &__wrapper-links {
      column-gap: 66px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__wrapper {
      column-gap: 164px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    &__wrapper {
      padding-top: 80px;
      column-gap: 314px;
    }
  }
}
