@use "/src/sass/base/variables.scss" as *;
.git {
  padding-top: 60px;
  &__wrapper {
    margin-top: 60px;
  }
  &__item-img {
    display: none;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $dark;
  }
  &__input {
    width: 100%;
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    color: $dark;
    padding: 10px 15px;
    height: 48px;
    margin-bottom: 8px;
  }
  &__textarea {
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    padding: 10px 15px;
    width: 100%;
    height: 132px;
    color: $dark;
    resize: none;
  }
  &__textarea,
  &__input {
    &:focus {
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
    }
  }
  &__checkblock {
    margin-top: 9px;
    display: flex;
    align-items: center;
    a {
      margin-left: 2px;
      text-decoration: none;
      color: #a22dc6;
    }
  }
  &__checkbox {
    margin-right: 15px;
    border: 1px solid $dark;
    border-radius: 2px;
    width: 15px;
    height: 15px;
  }
  &__btn {
    margin-top: 20px;
  }
  &__img-bottom {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .git {
    position: relative;
    &__input,
    &__textarea {
      width: 300px;
    }
    &__wrapper {
      margin: 45px 0 0 24px;
    }
    &__img-bottom {
      display: block;
      position: absolute;
      width: 85px;
      height: 85px;
      bottom: 0;
      right: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .git {
    &__wrapper {
      margin: 80px 0 0 0;
    }
    &__item-img {
      display: block;
      padding-right: 20px;
    }
    &__item-form {
      height: 428px;
      padding-left: 20px;
    }

    &__textarea,
    &__input {
      &:hover {
        outline: 1px solid $dark;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .git {
    &__fieldset {
      display: flex;
      column-gap: 45px;
    }
    &__item-img {
      padding-right: 10px;
    }
    &__item-form {
      padding-left: 144px;
      padding-right: 75px;
      height: 356px;
    }
    &__textarea {
      height: 151px;
    }
  }
}
